@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary: #181818;
  --secondary: #e6eb01;
  --warning: #ffe609;
  --white: #fff9f9;

  --fs-default: 16px;
  --fs-brand: 32px;
  --fs-nav: 18px;
  --fs-head-brand: 81px;
  --fs-title: 24px;

  --border-radius-btn: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: var(--primary);
  padding: 16px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .container {
  padding: 0px;
}

.navbar .brand {
  text-decoration: none;
  color: var(--secondary);
  font-size: var(--fs-brand);
}

.navbar-list {
  margin: auto;
}

.navbar-nav a {
  text-decoration: none;
  margin-right: 12px;
  color: var(--secondary);
  font-size: var(--fs-nav);
}

.navbar-nav a:last-child {
  margin-right: 0px;
}

.navbar .navbar-nav .btn {
  padding: 10px 32px;
  font-size: var(--fs-default);
  border-radius: var(--border-radius-btn);
  border-color: var(--secondary);
}

.navbar-nav .login {
  color: var(--primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}
/* Navbar */

/* Hero */
.hero {
  background-image: url("../images/hero-image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#more {
  display: none;
}

.hero-description h1 {
  color: var(--warning);
  font-size: var(--fs-head-brand);
}

.hero .detail-description {
  word-wrap: break-word;
  text-align: justify;
  font-size: 16px;
}

.hero .readmore {
  color: var(--white);
  text-decoration: underline;
}

.hero .readmore:hover {
  cursor: pointer;
}

.hero .btn {
  padding: 10px 66px 10px 66px;
  border: 5px solid;
  border-color: var(--secondary);
  border-radius: var(--border-radius-btn);
  color: var(--secondary);
}

/* Hero */

/* Test */
.test {
  margin-top: 38px;
  height: 100vh;
}

.test h3 {
  text-align: center;
  font-size: var(--fs-title);
  font-weight: 700;
}

.test .form {
  text-align: center;
}

.test .btn {
  padding: 10px 274px 10px 265px;
  border-radius: var(--border-radius-btn);
  background-color: var(--primary);
  color: var(--secondary);
}

/* Test */
