:root {
  --primary: #181818;
  --secondary: #e6eb01;
  --warning: #ffe609;
  --white: #fff9f9;

  --fs-default: 16px;
  --fs-brand: 32px;
  --fs-nav: 18px;
  --fs-head-brand: 81px;
  --fs-title: 24px;

  --border-radius-btn: 10px;
}

/* NavBar */
nav{
    color: #181818;
}

p{
    color: var(--primary);
}

/* NavBar */