@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nonaktifkan arrow pada input tipe number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus{
  box-shadow: none;
  outline: none;
}


:root {
  --primary: #181818;
  --text:#1B1C1E;
  --secondary: #e6eb01;
  --success: #172EFE;
  --danger: #FF1E1E;
  --warning: #ffe609;
  --info:#6C6C6C;
  --white: #fff9f9;
}


*{
    font-family: "Poppins", sans-serif;
}